.qr-code__container {
    background: var(--white);
    border-radius: var(--radius-20);
    margin: 10rem auto;
    padding: 1rem 0 2rem;
    width: 355px;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
}

.qr-code__img {
    width: 20rem;
    height: 20rem;
    border-radius: var(--radius-10);
    margin-inline: auto;
}

.qr-code__header {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 2rem;
}

.qr-code__text {
    font-size: 1rem;
    font-weight: 400;
    color: var(--slate-500);
    margin: 0 2rem 0;
}

.attribution {
    color: var(--slate-500);
} 